.er
{
    width: 100%;
    
}
.ig
{
    margin-top: -98.5vh;
    margin-left: 5px;
    
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
}
.iu
{
    color: white;
    font-size: 30px;
    margin-left: 25vh;
    margin-top: -20vh;
}

.iuo
{
    margin-top: -15vh;
}
.phone
{
    color: white;
    font-size: 25px;
    margin-left: 25vh;
    margin-top: -12vh;
}
.rg
{
    margin-left: 35vh;
    color: white;
    margin-top: -10vh;
    font-size: 20px;
}
.et
{
    margin-left: 35vh;
    color: white;
    font-size: 20px;
     margin-top: 30px;
}
.pi
{
    margin-top: -8vh;
    margin-left: 35vh;
    color: white;
}
.mail
{
    color: white;
    font-size: 25px;
    margin-top:-80vh;
}
.oe
{
    margin-left: 24vh;
   
}