.hello{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}
.one{
    height: 100px;
    flex-basis: 40%;
    background-color: tomato;
    margin: 5px;
}
.two{
    height: 100px;
    flex-basis: 40%;
    background-color:greenyellow;

    margin: 5px;
}
.three{
    height: 100px;
    flex-basis: 40%;
    background-color: rgb(255, 71, 95);
    margin: 5px;
}
.four{
    height: 100px;
    flex-basis: 70%;
    background-color: black;
    margin: 5px;
}
@media screen and (max-width: 800px){
    .one{flex-basis: 40%;}
}
@media screen and (max-width: 500px){
    .two{flex-basis: 100%;}
}
@media screen and (max-width: 300px){
    .three{flex-basis: 100%;}
}
@media screen and (max-width: 200px){
    .four{flex-basis: 100%;}
}